<?xml version="1.0" encoding="utf-8" ?>

<!-- IMPORTANT:
        1) Set the "Copy to Output Directory" value in the Properties of this file to "Copy always"
        2) This file must be named "NLog.config" to be recognized  
        3) If you update this file, be sure that the changes are made in each instance of the config for each project/solution        
 -->

<!-- INFO:
The below section is ONLY required if you put the "nlog" element in a web.config/app.config instead of the NLog.config:
<configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>        
</configSections>

You do not have to make sure that directories exist first.  NLog will create them if they do not exist.
-->

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       throwExceptions="false"
       autoReload="true"
       internalLogFile="c:\logs\internalNLogFailures.log"
       internalLogLevel="Warn">

  <!-- Example (nested variables): <variable name="logDirectory" value="${basedir}/logs/${shortdate}" /> -->
  <variable name="logDirectory" value="c:\logs" />

  <targets>

    <!-- WARNING:  Leave the "trace" and "console" above the async wrapper or it won't display correctly. -->
    <target name="trace" xsi:type="Trace"
             layout="${longdate}|${logger}|${level:uppercase=true}: ${message}" />

    <!--<target name="console" xsi:type="Console"/>-->

    <default-wrapper xsi:type="AsyncWrapper"
                      timeToSleepBetweenBatches="1000"
                      overflowAction="Block">
      <wrapper xsi:type="RetryingWrapper"
                retryDelayMilliseconds="500"
                retryCount="10" />
    </default-wrapper>
    <default-target-parameters xsi:type="File"
                                keepFileOpen="false"
                                encoding="iso-8859-2"
                                archiveEvery="Day"
                                archiveNumbering="Rolling"
                                maxArchiveFiles="30"
                                concurrentWrites="true"
                                layout="${longdate}|${machinename}|${logger}|${level:uppercase=true}:  ${message}" />

    <target name="mainFile" xsi:type="File"
               fileName="${logDirectory}\main.log"
               archiveFileName="${logDirectory}\archives\main_{#}.log" />
    <target name="javaScriptErrorFile" xsi:type="File"
               fileName="${logDirectory}\javaScriptError.log"
               archiveFileName="${logDirectory}\archives\javaScriptError_{#}.log" />
    <target name="googleCheckouFile" xsi:type="File"
               fileName="${logDirectory}\googleCheckout.log"
               archiveFileName="${logDirectory}\archives\googleCheckout_{#}.log" />
    <target name="orderLogFile" xsi:type="File"
               fileName="${logDirectory}\order.log"
               archiveFileName="${logDirectory}\archives\order.log_{#}.log"/>
    <target name="publishFile" xsi:type="File"
               fileName="${logDirectory}\publish.log"
               archiveFileName="${logDirectory}\archives\publish_{#}.log" />
    <target name="emailSubscribeListFile"  xsi:type="File"
               fileName="${logDirectory}\emailSubscribeList.log"
               archiveFileName="${logDirectory}\archives\emailSubscribeList_{#}.log" />
    <target name="linqOutputFile" xsi:type="File"
               fileName="${logDirectory}\linqOutput.log"
               archiveFileName="${logDirectory}\archives\linqOutput_{#}.log" />
    <target name="productImportFile" xsi:type="File"
               fileName="${logDirectory}\productImport.log"
               archiveFileName="${logDirectory}\archives\productImport_{#}.log" />
    <target name="httpErrorFile" xsi:type="File"
               fileName="${logDirectory}\httpError.log"
               archiveFileName="${logDirectory}\archives\httpError_{#}.log" />
    <target name="requestValidationFile" xsi:type="File"
               fileName="${logDirectory}\requestValidation.log"
               archiveFileName="${logDirectory}\archives\requestValidation_{#}.log" />
    <target name="emailServiceFile" xsi:type="File"
               fileName="${logDirectory}\emailService.log"
               archiveFileName="${logDirectory}\archives\emailService_{#}.log" />
    <target name="emailSubscribeServiceFile" xsi:type="File"
               fileName="${logDirectory}\emailSubscribeService.log"
               archiveFileName="${logDirectory}\archives\emailSubscribeService_{#}.log" />
    <target name="publishServiceFile" xsi:type="File"
               fileName="${logDirectory}\publishService.log"
               archiveFileName="${logDirectory}\archives\publishService_{#}.log" />
    <target name="orderManagerProxyServiceFile" xsi:type="File"
               fileName="${logDirectory}\orderManagerProxyService.log"
               archiveFileName="${logDirectory}\archives\orderManagerProxyService_{#}.log" />
    <target name="orderManagerServiceFile" xsi:type="File"
               fileName="${logDirectory}\orderManagerService.log"
               archiveFileName="${logDirectory}\archives\orderManagerService_{#}.log" />
    <target name ="shippingGatewayFile" xsi:type="File"
               archiveFileName="${logDirectory}\shippingGatewayService_{#}.log"
               fileName="${logDirectory}\shippingGatewayService.log"/>
    <target name="routesFile" xsi:type="File"
            fileName="${logDirectory}\routes.log"
            archiveFileName="${logDirectory}\archives\routes_{#}.log" />
    <target name="stopwatchFile" xsi:type="File"
            fileName="${logDirectory}\stopwatch.log"
            archiveFileName="${logDirectory}\archives\stopwatch_{#}.log" />
    <target name="googleCommerceSearchFile" xsi:type="File"
            fileName="${logDirectory}\googleCommerceSearch.log"
            archiveFileName="${logDirectory}\archives\googleCommerceSearch_{#}.log"/>
    <target name="googleFeedFile" xsi:type="File"
            fileName="${logDirectory}\googleFeed.log"
            archiveFileName="${logDirectory}\archives\googleFeed_{#}.log"/>
    <target name="orderTracking3PServiceFile" xsi:type="File"
            fileName="${logDirectory}\orderTracking3PService.log"
            archiveFileName="${logDirectory}\archives\orderTracking3PService_{#}.log" />
    <target name="orderTrackingOMServiceFile" xsi:type="File"
            fileName="${logDirectory}\orderTrackingOMService.log"
            archiveFileName="${logDirectory}\archives\orderTrackingOMService_{#}.log" />
    <target name="analyticsFile" xsi:type="File"
            fileName="${logDirectory}\analytics.log"
            archiveFileName="${logDirectory}\archives\analytics_{#}.log" />
    <target name="eventLog" xsi:type="EventLog"
            machineName="."
            log="Application"
            eventId="0"
            source="Cat5ErrorLogger" />


    <target name="devTeamEmail"
            type="Cat5EmailTarget"
            from="exceptionemail@cat5.com"
            to="devteam@cat5.com"/>


  </targets>
  <rules>
    <!-- INFO:  final="true" does not allow waterfall from one logger to the next (log in one place only)
            
             ** Logger class has six methods whose names correspond to log levels (in order min-to-max):
                    Trace(), Debug(), Info(), Warn(), Error() and Fatal().
        -->

    <!-- Specific Namespace loggers:  -->
    <!--<logger name="Cat5.Common.Logging.*" minlevel="Trace" writeTo="file" />-->
    <!--<logger name="Cat5.Common.Logging.Cat5NLogger" minlevel="Trace" writeTo="file" />-->

    <!-- Specific Loggers from Cat5.Common.Logging.LogCategories:  -->

    <logger name="Default" minlevel="Info" maxlevel="Fatal" writeTo="mainFile, trace" />
    <logger name="StartUp" minlevel="Info" maxlevel="Fatal" writeTo="mainFile, trace"/>
    <!--trace will show thread safety debug info-->
    <logger name="CacheLoad" minlevel="Info" maxlevel="Fatal" writeTo="mainFile, trace"/>
    <logger name="JavaScript" minlevel="Warn" maxlevel="Fatal" writeTo="javaScriptErrorFile, trace" final="true"/>
    <logger name="GoogleCheckout" minlevel="Trace" maxlevel="Fatal" writeTo="googleCheckouFile, trace"/>
    <logger name="OrderLog" minlevel="Trace" maxlevel="Fatal" writeTo="orderLogFile, trace" />
    <logger name="EmailSubscribeList" minlevel="Trace" maxlevel="Fatal" writeTo="emailSubscribeListFile, trace"/>
    <logger name="Routes" minlevel="Warn" maxlevel="Fatal" writeTo="routesFile"/>
    <logger name="Stopwatch" minlevel="Warn" maxlevel="Fatal" writeTo="stopwatchFile, trace"/>
    <logger name="ShoppingCart" minlevel="Trace" maxlevel="Fatal" writeTo="mainFile, trace" />
    <logger name="ProductImport" minlevel="Trace" maxlevel="Fatal" writeTo="productImportFile, trace"/>
    <logger name="DependencyResolution" minlevel="Warn" maxlevel="Fatal" writeTo="trace"/>
    <!--Kept out of trace on purpose. include in trace when debugging routes-->
    <logger name="UnknownRoute" minlevel="Trace" maxlevel="Fatal" writeTo="mainFile"/>

    <!--disabled by pre-processor directive in release build -->
    <logger name="LinqOutput"  minlevel="Fatal" maxlevel="Fatal" writeTo="linqOutputFile, trace"/>

    <!--The following are used by the Cat5Exception handler-->
    <!--Warn shows recoverable. Errors shows Irrecoverable-->
    <logger name="Exception" minlevel="Warn" maxlevel="Fatal" writeTo="mainFile, eventLog, trace" final="true"/>
    <!--Error shows all-->
    <logger name="UncaughtException" minlevel="Error" maxLevel="Fatal" writeTo="mainFile, eventLog, trace" final="true"/>
    <!--Info shows 404s.-->
    <logger name="PageNotFound" minlevel="Info" maxlevel="Fatal" writeTo="httpErrorFile, trace" final="true"/>
    <!--Info shows all except 500 and 404-->
    <logger name="HttpError" minlevel="Info" maxlevel="Fatal" writeTo="httpErrorFile, trace" final="true"/>
    <!--Warn shows recoverable. Error shows Irrecoverable.-->
    <logger name="ExceptionEmail" minlevel="Warn" maxlevel="Fatal" writeTo="devTeamEmail" final="true"/>
    <logger name="RequestValidation" minlevel="Warn" maxlevel="Fatal" writeTo="requestValidationFile" final="true"/>

    <logger name="GoogleCommerceSearch" minlevel="Warn" maxlevel="Fatal" writeTo="googleCommerceSearchFile, trace"/>
    <logger name="Analytics" minlevel="Info" maxlevel="Fatal" writeTo="analyticsFile" final="true"/>

    <!--for the web services-->
    <logger name="EmailService" minlevel="Trace" maxlevel="Fatal" writeTo="emailServiceFile, trace"/>
    <logger name="EmailSubscribeService" minlevel="Trace" maxlevel="Fatal" writeTo="emailSubscribeServiceFile, trace"/>
    <logger name="PublishService" minlevel="Trace" maxlevel="Fatal" writeTo="publishFile, trace" />
    <logger name="OrderManagerProxyService" minlevel="Trace" maxlevel="Fatal" writeTo="orderManagerProxyServiceFile, trace" final="true" />
    <logger name="ZNodeWebService" minlevel="Trace" maxlevel="Fatal" writeTo="mainFile, trace"/>
    <logger name="ShippingGateway" minlevel="Trace" maxlevel="Fatal" writeTo="shippingGatewayFile, trace"/>
    <logger name="OrderTracking3PService" minlevel="Trace" maxlevel="Fatal" writeTo="orderTracking3PServiceFile, trace" final="true" />

    <!--Catman-->
    <logger name="GoogleFeed" minlevel="Warn" maxlevel="Fatal" writeTo="googleFeedFile, trace" final="true" />

    <!--on Server-02-->
    <logger name="OrderManagerService" minlevel="Trace" maxlevel="Fatal" writeTo="orderManagerServiceFile, trace" final="true" />
    <logger name="OrderTrackingOMService" minlevel="Trace" maxlevel="Fatal" writeTo="orderTrackingOMServiceFile, trace" final="true" />

    <!-- Catch All (leave me at the bottom):  -->
    <logger name="*" level="Error" writeTo="mainFile, eventLog, trace" final="true" />
    <logger name="*" level="Fatal" writeTo="mainFile, eventLog, trace" final="true" />

  </rules>
</nlog>
